body {
  color: white;
  height: 1000px;
  background: repeating-linear-gradient(0deg, #000, #000 10px, #333 10px, #333 20px); }
  body h1, body p {
    position: fixed; }
  body p {
    top: 70px; }
  body a {
    color: white; }
