body {
  color: white;

  height: 1000px;

  background: repeating-linear-gradient(
    90deg,
    #000,
    #000 10px,
    #333 10px,
    #333 20px
  );

  h1, p {
    position: fixed;
  }

  p {
    top: 70px;
  }

  a {
    color: white;
  }
}
