$primary-color: #111111;
$primary-bg-color: #ccc;
$alt-bg-color: #ddd;

body {
  color: $primary-color;

  height: 1000px;

  background: repeating-linear-gradient(
    90deg,
    $primary-bg-color,
    $primary-bg-color 10px,
    $alt-bg-color 10px,
    $alt-bg-color 20px
  );

  a {
    color: $primary-color;
  }
}
